.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._形状 {
}
._图片_ {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.box_1 {
}
.image {
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.icon {
}
.paragraph {
  text-align:left;
}
.line {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.table_cell {
}
.menu_item {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  font-size:16px;
  letter-spacing:0.1px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
._连接 {
}
.snapshot {
}
.sticky_2 {
  text-align:left;
}
.shape {
}
.image1 {
  color:#000000;
}
.vertical_line {
}
.iconfont {
  font-family:'iconfont ', 'iconfont', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._文本段落1 {
  text-align:left;
}
.refs-chart-data {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
.font_awesome_5_free_solid {
  font-family:'Font Awesome 5 Free Solid', 'Font Awesome 5 Free', sans-serif;
  font-weight:900;
  font-style:normal;
}
.font_awesome_5_free_regular {
  font-family:'Font Awesome 5 Free', sans-serif;
  font-weight:400;
  font-style:normal;
}
._默认样式 {
}
._文本链接 {
  color:#0000FF;
}
.box_11 {
}
.box_31 {
}
._图片 {
}
textarea, select, input, button { outline: none; }
