body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u34549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1530px;
}
#u34549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1530px;
  display:flex;
}
#u34549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:681px;
}
#u34550 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:399px;
  width:1006px;
  height:681px;
  display:flex;
}
#u34550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:51px;
}
#u34551 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:869px;
  width:159px;
  height:51px;
  display:flex;
}
#u34551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:169px;
}
#u34552 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:720px;
  width:433px;
  height:169px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u34552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34553 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:535px;
  width:45px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
